@model BlogPostApp.ViewModel.BlogViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Post Blog</h2>


@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="fileName" name="Image" accept="image/x-png,image/gif,image/jpeg" onchange="validateFileType()" required />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label id="ErrorLbl" class="text-danger control-label"></label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Post" id="SubmitBtn" class="btn btn-default" />
        </div>
    </div>
</div>
}

<script type="text/javascript">
    function validateFileType() {
        var fileName = document.getElementById("fileName").value;
        var fileSize = Math.round(document.getElementById("fileName").files.item(0).size / 1024);
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if ((extFile == "jpg" || extFile == "jpeg" || extFile == "png" || extFile == "gif") && fileSize < 5120) {
            document.getElementById("SubmitBtn").disabled = false;
            document.getElementById("ErrorLbl").innerHTML = "";
        } else {
            document.getElementById("SubmitBtn").disabled = true;
            document.getElementById("ErrorLbl").innerHTML = "Only jpg/jpeg,png and gif files are allowed!";
        }
    }
</script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
